*
{
    margin: 0;
    color: white;
    font-family: Arial;
    font-size: 40px;
}
body
{
    background-color: #3f7fff;
}
#homeheader
{
    text-align: center;
    font-size: 100px;
    margin-top: 0;
}
p
{
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    margin-top: 30px;
}
.nomar
{
    margin-top: 0px;
}
@media (max-width: 1550px)
{
    *
    {
        font-size: 30px;
    }
    p
    {
        width: 1100px;
    }
    #homeheader
    {
        font-size: 80px;
    }
}

@media (max-width: 1280px)
{
    #homeheader
    {
        font-size: 70px;
    }
}