body
{
    background-color: #3f7fff;
    color: white;
    font-family: Arial;
    font-size: 30px;
}
#homeheader
{
    text-align: center;
    font-size: 120px;
    margin-top: 0;
    color: white;
}
@media (max-width: 1920px)
{
#homeheader
{
    font-size: 100px;
}
}
@media (max-width: 1280px)
{
#homeheader
{
    font-size: 70px;
}
}